@use '../../partials/partial' as *;

h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

.inline {
  display: flex;
}

.warehouse {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 136px;
  bottom: 4.95%;
  @include desktop {
    left: 10.16%;
    right: 10.16%;
  }

  &__inline {
    display: flex;
    border-bottom: 1px solid $cloud;
    padding-left: 1.5rem;
    justify-content: space-between;
    padding-right: 1.5rem;
    @include tablet {
      padding-top: 2rem;
      padding-bottom: 1.5rem;
    }
  }

  &__name {
    @include moH1;
    color: $stockBlack;
    padding-left: 0.5rem;

    @include tablet {
      @include dtH1;
    }
  }
}

.details {
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include tablet {
    display: flex;
    align-items: center;
  }
  &__address {
    @include moH4;
    color: $slate;
    width: 114px;
    height: 16px;
    margin-bottom: 0.5rem;
    @include tablet {
      @include dtH4;
      width: 125px;
      height: 18px;
    }

    &--loc {
      @include moP2;
      color: $stockBlack;
      width: 259px;
      height: 40px;
      @include tablet {
        @include dtP2;
        width: 214px;
        height: 44px;
        padding-right: 2rem;
      }
    }
  }
}

.contact {
  display: flex;
  margin-top: 1rem;
  @include tablet {
    margin: 0;
    border-left: 1px solid $cloud;
    padding-left: 2rem;
  }
  &__name {
    @include moH4;
    color: $slate;
    width: 79px;
    height: 16px;
    margin-bottom: 0.5rem;
    @include tablet {
      @include dtH4;
      width: 87px;
      height: 18px;
    }

    &--pos {
      @include moP2;
      color: $stockBlack;
      width: 140px;
      height: 40px;
      @include tablet {
        @include dtP2;
      }
    }
  }

  &__inline {
    margin-left: 1rem;
  }

  &__info {
    @include moH4;
    color: $slate;
    width: 119px;
    height: 16px;
    margin-bottom: 0.5rem;
    @include tablet {
      @include dtH4;
      width: 130px;
      height: 18px;
    }

    &--phone {
      @include moP2;
      color: $stockBlack;
      @include tablet {
        @include dtP2;
      }
    }
  }
}

.pos {
  width: 140px;
  height: 40px;
  margin-right: 1rem;
}

.inv {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: 1px solid $cloud;
  padding-top: 1rem;
  @include tablet {
    border-top: none;
    display: none;
    align-items: center;
  }

  &__inline {
    display: flex;
    flex-direction: column;
  }

  &__item {
    @include moH4;
    color: $slate;
    width: 83px;
    height: 16px;
    @include tablet {
      @include dtH4;
      width: 91px;
      height: 18px;
    }

    &--inline {
      display: flex;
      align-items: center;
    }

    &--prod {
      @include moH3;
      color: $stockIndigo;
      @include tablet {
        @include dtH3;
      }
    }
  }

  &__status {
    @include moH4;
    color: $slate;
    width: 37px;
    height: 16px;
    padding-bottom: 0.25rem;
    @include tablet {
      @include dtH4;
      width: 40px;
      height: 18px;
    }

    &--inout {
      @include moH4;
      background: rgba(21, 132, 99, 0.07);
      border-radius: 20px;
      width: 61px;
      height: 24px;
      @include tablet {
        @include dtH4;
      }
    }
  }

  &__cat {
    @include moH4;
    color: $slate;
    width: 51px;
    height: 16px;
    @include tablet {
      @include dtH4;
      width: 56px;
      height: 18px;
    }

    &--type {
      @include moP2;
      @include tablet {
        @include dtP2;
      }
    }
  }

  &__qty {
    @include moH4;
    color: $slate;
    width: 19px;
    height: 16px;
    @include tablet {
      display: none;
    }

    &--amt {
      @include moP2;
      @include tablet {
        @include dtP2;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.itemStatus {
  display: flex;
}

.itemInfo {
  display: flex;
  padding-top: 1.5rem;
  @include tablet {
    padding: 0;
  }
}

#deskQty {
  display: none;
  @include tablet {
    display: block;
    @include dtH4;
    color: $slate;
  }
}
