@use '../partials/partial' as *;

.form {
    position: absolute;
    left: 4.27%;
    right: 4.27%;
    top: 10%;
    bottom: 8.68%;
    background: $whites;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    height: min-content;
    @extend %flex-column;


    .title__container-section{
        padding: 2rem 1.5rem 1.5rem;
        @extend %flex-row;
        align-items: center;

    }

    &__title{
        @extend %h1;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    &__input-radius {
        @include input-radius;
        @extend %input;
    }

    &__section {
        height: min-content;
        @extend %flex-column;
        @extend %section-pad;
        @extend %topdivider;


        .section__title {
            @extend %h2;
            padding-bottom: .5rem;
        }

        .input__title {
            @extend %h3;
            padding-top: 1rem;
            padding-bottom: .25rem;

            &-radio {
                @include moP2;
                text-align: center;

                @include tablet {
                    @include dtP2;
                }
            }
        }

        .select{
            appearance: none;
            width: 100%;
        }

        .status {
            @extend %flex-row;
            align-items: center;

            input[type=radio] {
                border: 0px;
                width: 1rem;
                height: 1rem;
                margin: 0 .5rem 0 0;
            }
        }

        input[type=text] {
            @extend %innertext;

        }

        textarea {
            @extend %innertext;
            height: 7.5rem;
        }

        select{
            @extend %innertext;
        }

    }

    .button__container {
        @extend %flex-row;
        justify-content: center;
        padding: 1rem 1.5rem;
        background: rgba(247, 248, 249, 0.7);
        border-radius: 0px 0px 3px 3px;

        .button {
                @extend %input;
                width: 8.688rem;
                @include input-radius;
                @extend %h3;
                color: $slate;

                &-submit{
                @include input-radius($color: $stockIndigo);
                color: $whites;
                margin-left: 1rem;
                }
            }
    }

    legend {
    padding: 0;
    display: table;
  }
  fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
  }
  body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }

  input:focus {
    @extend %roundedfocus;
  }

  textarea:focus {
    @extend %roundedfocus;
  }

  select:focus {
      @extend %roundedfocus;

  }
}

