@use '../partials/partial'as *;

.form {
    position: absolute;
    left: 4.27%;
    right: 4.27%;
    top: 10%;
    bottom: 8.68%;
    background: $whites;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    height: min-content;
    @extend %flex-column;


    .responsive{

        width: 100%;

        @include tablet {
            display: flex;
            border-top: 1px solid $cloud;
        }
    }
    .title__container-section {
        padding: 2rem 1.5rem 1.5rem;
        @extend %flex-row;
        align-items: center;

    }

    &__title {
        @extend %h1;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    &__input-radius {
        @include input-radius;
        @extend %input;
    }
    &__input-drop {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%235C667E'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 1.8rem;
        background-position: center right 1em;

    }

    &__section {
        height: min-content;
        @extend %flex-column;
        @extend %section-pad;
        @extend %topdivider;

        .error{
            border: 1px solid $out;
    
            &__message {
                display: flex;
                align-items: center;
                @extend %p3;
                color: $out;
                height: 0.833rem;
                padding-top: .25rem;
            }
    
            &__message::before {
                display: inline-block;
                position: relative;
                content: ' ';
                background-size: 0.833rem 0.833rem;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z' fill='%23C94515'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                height: 0.833rem;
                width: 0.833rem;
                margin-right: 0.331rem;
            }
        }


        @include tablet {
                border: none;
                width: 50%;
                margin: 1.5rem 0;
        }

        &-details {
            border-right: 1px solid $cloud;
        }


        .section__title {
            @extend %h2;
            padding-bottom: .5rem;
        }

        .input__title {
            @extend %h3;
            padding-top: 1rem;
            padding-bottom: .25rem;

            &-radio {
                @include moP2;
                text-align: center;

                @include tablet {
                    @include dtP2;
                }
            }
        }


        .status {
            @extend %flex-row;
            align-items: center;

            input[type=radio] {
                border: 0px;
                width: 1rem;
                height: 1rem;
                margin: 0 .5rem 0 0;
            }
        }

        input {
            @extend %innertext;
        }

        textarea {
            @extend %innertext;
            height: 7.5rem;
        }

        select {
            @extend %innertext;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

    }

    .button__container {
        @extend %flex-row;
        justify-content: center;
        padding: 1rem 1.5rem;
        background: rgba(247, 248, 249, 0.7);
        border-radius: 0px 0px 3px 3px;

        @include tablet {
            height: 4.375rem;
            justify-content: flex-end;
            align-items: center;
        }

        .button {
            @extend %input;
            width: 8.688rem;
            @include input-radius;
            @extend %h3;
            color: $slate;

            @include tablet {
                height: 2.375rem;
                width: 4.5rem;
            }

            &-submit {
                @include input-radius($color: $stockIndigo);
                color: $whites;
                margin-left: 1rem;

                @include tablet {
                    width: 6.125rem;
                }

            }
        }
    }

    input:focus {
        @extend %roundedfocus;
    }

    textarea:focus {
        @extend %roundedfocus;
    }

    select:focus {
        @extend %roundedfocus;
    }

    button:focus {
        @extend %roundedfocus;
    }

    ////Removing Default Styling
    legend {
        padding: 0;
        display: table;
    }

    fieldset {
        border: 0;
        padding: 0 0 0 0;
        margin: 0;
        min-width: 0;
    }

    body:not(:-moz-handler-blocked) fieldset {
        display: table-cell;
    }

}