@use '../partials/partial' as *;

.form {
    position: absolute;
    left: 4.27%;
    right: 4.27%;
    top: 12.3%;
    bottom: 8.68%;
    background: $whites;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    height: min-content;
    @extend %flex-column;

    * {
        box-sizing: border-box;
    }

    .title__container-section{
        padding: 2rem 1.5rem 1.5rem;
        @extend %flex-row;

        /* .icon {
            height: 1rem;
            width: 1rem;
        } */
    }

    &__title{
        @extend %h1;
        margin-block-end: 0;
        margin-block-start: 0;
        margin-top: 2rem;
    }
    

    

    .button__container {
        @extend %flex-row;
        padding: 1rem 1.5rem;
        background: rgba(247, 248, 249, 0.7);
        border-radius: 0px 0px 3px 3px;

        .button {
                @extend %input;
                width: 8.688rem;
                @include input-radius;
                @extend %h3;
                color: $slate;

                &-submit{
                @include input-radius($color: $stockIndigo);
                color: $whites;
                margin-left: 1rem;
                }
            }
    }



}

legend {
    padding: 0;
    display: table;
  }
  fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
  }
  body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }
