@use '../../partials/partial';


.header {
  position: absolute;
  background-color:#232940;
  height: 200px;
  width: 375px;
  display:flex;
  align-items: center;
  justify-content: center;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
  }

  
  &__logo {
    height: 20px;
    width: 89px;
    padding: 24px 123px 15px 123px;
    margin-bottom: 30px;
  }

  &__tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  &__warehouse {
    color: #bdc5d5;
    border: none;
    background-color: #232940;

  }

  &__inventory {
    color: #bdc5d5;
    border: none;
    background-color: #232940;
  }
  
  .active {
    color: #FFFFFF;
    background-color: #13182c;
    width: 164px;
    height: 36px;
    border-radius: 20px;
  }
}