@use '../../partials/partial' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warehouses {
    max-width: 21.4rem;
    margin: auto;
    margin-bottom: 1.5rem;
    font-family: "Titillium Web";
    color: $stockBlack;


    @include tablet {
        max-width: 43rem;
        margin: auto;
    }

    @include desktop {
        max-width: 63.75rem;
        margin: auto;
    }

        &__wrapperOne {
            margin: 0 1.5rem;

            @include tablet {
                display: flex;
                align-items: center;
                width: 44rem;
                margin-bottom: .5rem;
            }
        }
       
        &__title {
            @include moH1;
            padding: 2rem 10.6rem 1rem 0;
            color: $stockBlack;

            @include tablet {
                padding-right: 12rem;
            }
         }


         &__search {
            width: 17rem;
            height: 2.25rem;
            border-radius: 1.25rem;
            border: none;
            border: 1px solid $cloud;
            background-image: url('../../assets/Icons/search-24px.svg');
            background-repeat: no-repeat;
            background-position-x: 14.5rem;
            background-position-y: center;
            padding-left: 1rem;
            margin-bottom: 1rem;

            @include tablet {
                margin-top: 2rem;
                width: 11.6rem;
                margin-right: 1rem;
                background-position-x: 9rem;
            }
         }

         &__button {
             width: 17rem;
             height: 2.25rem;
             border-radius: 1.25rem;
             border: none;
             background-color: $stockIndigo;
             color: white;

             @include tablet {
                 margin-top: 1rem;
                 width: 10.5rem;
             }
         }

         &__row-headers {
             display: none;

             @include tablet {
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $slate;
                background-color: $lightgrey;
                width: 765px;
                height: 45px;
                margin-right: 0;
                @include dtH4;

                div {
                    display: flex;
                    // width: 150px;
                }
             }
         }

        

         &__header1 {
             @include tablet {
                 width: 80px;
                 margin-right: 3.2rem;
                //  margin-left: .2rem;
             }
         }

         &__header2 {
            @include tablet {
                margin-right: 3.8rem;
                width: 80px;
                // display: flex;
            }
         }

         &__header3 {
             @include tablet {
                //  margin-right: .3rem;
                 width: 160px;
             }
         }

         &__header4 {
             @include tablet {

             }
         }

         &__header5 {
             @include tablet {
                 margin-left: 3rem;
                 margin-right: 1.5rem;
             }
         }
}

// table {
//     @include tablet {
//         width: 768px;
//     }
// }

.info {
    border-bottom: 1px solid $cloud;
  }
  .info:last-of-type {
    border-bottom: none;
  }


.info {
    
    @include tablet {
        display: flex;
        width: 765px;
        // width: 704px;
        height: 80px;
    }

    td {
        font-size: .8125rem;
        // margin-bottom: 1.18rem;
    }

    h4 {
        font-size: .68rem;
        color: $slate;
        line-height: 1rem;
        margin-bottom: .25rem;

        @include tablet {
            display: none;
        }
    }

    &__details {
        display: flex;
        margin-left: 1.5rem;

        @include tablet {
            // display: flex;
            // justify-content: center;
            align-items: center;
            // justify-content: space-between;
            width: 704px;
            // height: 80px;
            // border: 1px solid red;
            margin-left: 2rem;
            // text-align: left;
        }
    }

    &__leftside {

       @include tablet {
        display: flex;
        width: 260px;
        justify-content: space-between;
       }
    }

    &__top-border {
        border-top: 1px solid $cloud;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        @include tablet {
            border: none;
        }
    }

    &__icons {
        margin-left: 1.5rem;
        display: flex;
        justify-content: space-between;
        margin-right: 1.5rem;
        margin-top: 1.18rem;
        
        @include tablet {
            margin-right: 2.5rem;
            margin-bottom: 1rem;
        }
    }
    &__chevron {
        display: flex;
        align-items: center;
    }

    &__warehouse-name {
       color: $stockIndigo;
       font-weight: 600; 

    }

    &__address-container {
        margin-top: 1rem;
        line-height: 1.25rem;
        width: 130px;

        // @include tablet {
        //     width: 87px;
        // }
    }

    &__address {
        @include tablet {
            width: 87px;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    }

    &__edit {
        margin-left: 1rem;
    }
   

}

.contact {
    margin-left: 1rem;

    @include tablet {
        display: flex;
        width: 310px;
        justify-content: space-between;
        // align-items: center;
        // border: 1px solid red;
    }
    
    &__name {
        margin-bottom: 1rem;

        @include tablet {
            // width: 120px;
            margin-right:  3.5rem;
        }
    }

    &__info {
        line-height: 1.3rem;

        @include tablet {
            width: 150px;
            padding-top: .5rem;
        }
       
    }

    &__actual-name {
        @include tablet {
            padding-top: 1rem;
        }
    }
}