//**FONTS**
@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "Titillium Semi";
  src: url("./fonts/TitilliumWeb-SemiBold.ttf");
}
//**FONT SIZING**

//Mobile
@mixin moH1 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 36px;
}
@mixin moH2 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 28px;
}
@mixin moH3 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 20px;
}
@mixin moH4 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 16px;
}
@mixin moP1 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 26px;
}
@mixin moP2 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 20px;
}
@mixin moP3 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 1rem;
}

//Tablet & Desktop

@mixin dtH1 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 40px;
}
@mixin dtH2 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
}
@mixin dtH3 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 22px;
}
@mixin dtH4 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 18px;
}

@mixin dtP1 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
}
@mixin dtP2 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 22px;
}
@mixin dtP3 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 18px;
}

//**COLORS**

//Primary Colors
$stockBlack: #13182c;
$stockIndigo: #2e66e5;
$whites: #ffffff;

//Secondary Colors
$slate: #5c667e;
$cloud: #bdc5d5;

//Background Colors
$graphite: #232940;
$lightgrey: #f7f8f9;

//Supporting Colors
$in: #158463;
$out: #c94515;

//**MIXINS**

@mixin mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin input-radius($color: $whites) {
  border: 1px solid $cloud;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: $color;
}
%input {
  height: 2.25rem;
}

%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-row {
  display: flex;
  flex-direction: row;
}

%h1 {
     @include moH1;

   @include tablet {
     @include dtH1;
   }
}

%h2 {
     @include moH2;

   @include tablet {
     @include dtH2;
   }
}

%h3 {
     @include moH3;

   @include tablet {
     @include dtH3;
   }
}

%section-pad {
    padding: 1rem 1.5rem 1.5rem;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 2.5rem;
  }

}

%topdivider {
  border-top: 1px solid $cloud;
}

%innertext {
  padding: .5rem 1rem;
  @include moP2;

  @include tablet {
    @include dtP2;
  }

}